figure {
    display: table;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
}
    
figure img {
    cursor: default;
    height: auto;
    max-width: 100%;
    width: auto;
}    

figcaption {
    background: #e2ebff;
    caption-side: bottom;
    display: table-caption;
    max-width: 100%;
    min-height: 20px;
    padding: 4px;
    width: auto;
  }

figcaption:focus {
    outline: none;
}

figcaption:before {
   content: 'Caption: ';
   font-weight: bold;
}