/* fill The Gap */

.ProseMirror .fill-the-gap .ProseMirror {
  /* box-shadow: none; */
  line-height: 2.2;
  padding: 25px 5px 20px 5px;
}

.ProseMirror .fill-the-gap span > .ProseMirror {
  box-shadow: none;
  line-height: 1.6;
}
 