div[data-type="content_structure_element"] {
    border-left: 3px solid #f5f5f7;
    padding: 10px 10px 0 10px;
    
}

div[data-type="content_structure_element"]::before {
    border: 3px solid #f5f5f7;
    background-color: #f5f5f7;
    width: 100%;
    display: block;
}

.introduction::before {
    content: 'Introduction Section';
}

.outline::before {
    content: 'Outline Section';
}

.objectives::before {
content: 'Objectives Section';
}

.focus-questions::before {
    content: 'Focus Questions Section';
}

.key-terms::before {
    content: 'Key Terms Section';
}

.self-reflection-activities::before {
    content: 'Self Reflection Activities Section';
}

.review-activity::before {
    content: 'Review Activity Section';
}

.summary::before {
    content: 'Summary Section';
}

.references::before {
    content: 'References Section';
}